<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>ms1</servlet-name>
        <servlet-class>cn.com.blogonline.RegistServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms1</servlet-name>
        <url-pattern>/regist</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ms2</servlet-name>
        <servlet-class>cn.com.blogonline.CheckUnameServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms2</servlet-name>
        <url-pattern>/checkUname</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ms3</servlet-name>
        <servlet-class>cn.com.blogonline.FirstServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms3</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ms4</servlet-name>
        <servlet-class>cn.com.blogonline.LoginServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms4</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ms5</servlet-name>
        <servlet-class>cn.com.blogonline.SearchServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms5</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ms6</servlet-name>
        <servlet-class>cn.com.blogonline.OpenBlogServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms6</servlet-name>
        <url-pattern>/openBlog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ms7</servlet-name>
        <servlet-class>cn.com.blogonline.BlogOperateServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms7</servlet-name>
        <url-pattern>/blogOperate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ms8</servlet-name>
        <servlet-class>cn.com.blogonline.ArticleSortServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms8</servlet-name>
        <url-pattern>/dyList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ms9</servlet-name>
        <servlet-class>cn.com.blogonline.ArticleSaveServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms9</servlet-name>
        <url-pattern>/saveArticle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ms10</servlet-name>
        <servlet-class>cn.com.blogonline.ShowFeedbackServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms10</servlet-name>
        <url-pattern>/showFeedback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ms11</servlet-name>
        <servlet-class>cn.com.blogonline.WriteFeedbackServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms11</servlet-name>
        <url-pattern>/writeFeedback</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ms12</servlet-name>
        <servlet-class>cn.com.blogonline.OpenArticleServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms12</servlet-name>
        <url-pattern>/openArticle</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ms13</servlet-name>
        <servlet-class>cn.com.blogonline.SearchServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms13</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ms14</servlet-name>
        <servlet-class>cn.com.blogonline.AdminSortServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms14</servlet-name>
        <url-pattern>/adminSort</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ms15</servlet-name>
        <servlet-class>cn.com.blogonline.AdminArticleServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms15</servlet-name>
        <url-pattern>/adminArticle</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ms16</servlet-name>
        <servlet-class>cn.com.blogonline.AdminLinksServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms16</servlet-name>
        <url-pattern>/adminLinks</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ms17</servlet-name>
        <servlet-class>cn.com.blogonline.SaveSelfInfoServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms17</servlet-name>
        <url-pattern>/saveSelf</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ms18</servlet-name>
        <servlet-class>cn.com.blogonline.SaveLogoServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>ms18</servlet-name>
        <url-pattern>/saveLogo</url-pattern>
    </servlet-mapping>
   <listener>
      <listener-class>org.zjy.web.listener.BlogListener</listener-class>
   </listener>
    <filter>
       <filter-name>userFilter</filter-name>
       <filter-class>org.zjy.web.filter.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>requestFilter</filter-name>
        <filter-class>org.zjy.web.filter.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
       <filter-name>userFilter</filter-name>
       <url-pattern>/blogAdminMain.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
       <filter-name>requestFilter</filter-name>
       <url-pattern>/*</url-pattern>
    </filter-mapping>
<!-- The Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
