#parse( "head.html" )		
			<div class="row">
				<div id="entry-list" class="span8">
					<div class="entry">
						<h4 class="entry-title"><a href="$entry.getLink()">$entry.getTitle()</a></h4>
						<div class="entry-body">
							$entry.getDesc()
						</div>
						<div class="entry-meta">Submited by <a href="/user?username=$entry.getAuthor()">$entry.getAuthor()</a> $entry.getRalativePostedTime() · <a href="/entry?postID=$entry.getId()">Comment</a> ($entry.getCommentCount()) · <a class="like-link#if($entry.isLiked()) disabled#end" href="/voting?vote=like&postID=$entry.getId()">Like#if($entry.isLiked())d#end</a> (<span class="count">$entry.getLikeCount()</span>) · <a class="dislike-link#if($entry.isDisliked()) disabled#end" href="/voting?vote=dislike&postID=$entry.getId()">Dislike#if($entry.isDisliked())d#end</a> (<span class="count">$entry.getDislikeCount()</span>)</div>
					</div>
					<br>
					<ul id="comments" class="nav nav-tabs">
						<li class="active">
							<a href="">Comments ($entry.getCommentCount())</a>
						</li>
					</ul>
					#foreach( $comment in $comments )
					<div class="entry">
						<div class="entry-body">
							$comment.getContent()
						</div>
						<div class="entry-meta">by <a href="/user?username=$comment.getAuthor()">$comment.getAuthor()</a> $comment.getRalativePostedTime()</div>
					</div>
					#end
					<div class="well">
						#if($currentUser)
						<!-- <legend>Submit a link</legend> -->
						<form name="form-newcomment" action="/newcomment" method="post" style="margin-bottom: 0;">
							<input name="post-id" type="hidden" value="$entry.getId()">
							<textarea name="comment-content" class="input-block-level" rows="3" placeholder="Comment" style="resize:vertical;"></textarea>
							<button type="submit" class="btn btn-info">Post new comment</button>
						</form>
						#end
					</div>
				</div>

				<div id="side-bar" class="span4">
				</div>
			</div>
#parse( "tail.html" )
