#parse( "head.html" )		
			<div class="row">
				<div id="entry-list" class="span8">
					<div class="entry">
						<h4 class="entry-title"><a href="$entry.getLink()">$entry.getTitle()</a></h4>
						<div class="entry-body">
							$entry.getDesc()
						</div>
						<div class="entry-meta">Submited by <a href="/user/$entry.getAuthor()">$entry.getAuthor()</a> $entry.getRalativePostedTime() · #if($currentUser)#if($entry.isLiked())Liked#else<a href="\#">Like</a>#end#elseLike#end ($entry.getLikeCount()) · #if($currentUser)#if($entryIsDisliked())Disliked#else<a href="\#">Dislike</a>#end#elseDislike#end ($entry.getDislikeCount())</div>
					</div>
					<br>
					<ul id="comments" class="nav nav-tabs">
						<li class="active">
							<a href="">Comments ($entry.getCommentCount())</a>
						</li>
					</ul>
					#foreach( $comment in $comments )
					<div class="entry">
						<div class="entry-body">
							$comment.getContent()
						</div>
						<div class="entry-meta">by <a href="/user/$comment.getAuthor()">$comment.getAuthor()</a> $comment.getRalativePostedTime()</div>
					</div>
					#end
					<div class="well">
						#if($currentUser)
						<!-- <legend>Submit a link</legend> -->
						<form name="form-newcomment" action="/newcomment" method="post" style="margin-bottom: 0;">
							<input name="session-id" type="hidden" value="#!sessionId">
							<textarea class="input-block-level" rows="3" placeholder="Comment" style="resize:vertical;"></textarea>
							<button type="submit" class="btn btn-info">Post new comment</button>
						</form>
						#end
					</div>
				</div>

				<div id="side-bar" class="span4">
				</div>
			</div>
#parse( "tail.html" )
