<html>
<body>
#foreach( $post in $posts )
      <tr>
        <td>
           $post.getTitle()
        </td>
      </tr>
      <tr>
        <td>
           $post.getDesc()
        </td>
      </tr>
#end
</body>
</html>