<!-- /container -->
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.cookie.js"></script>
		<script>
		$(function() {
			// bind links
			$('a.like-link,a.dislike-link').bind('click', function() {
				if (!$(this).hasClass("disabled")) {
					vote($(this));
				}
				return false;
			});

			// spice up user list
			$('ul.user-list a').each(function(index) {
				var text = $(this).text();
				// console.log(text);
				var sum = 0;
				for (var i = 0; i < text.length; i++) {
					sum += text.charCodeAt(i);
				}
				// console.log(sum % 5);
				var cls = "black";
				switch(sum % 5) {
					case 0:
						cls = "blue";
						break;
					case 1:
						cls = "yellow";
						break;
					case 2:
						cls = "black";
						break;
					case 3:
						cls = "green";
						break;
					case 4:
						cls = "red";
						break;
				}
				$(this).prev("span.ring").addClass(cls);
			});

			// view more link for user lists 
			$('ul.user-list').each(function(index){
				if ($(this).children().length > 10) {
					$(this).after('<a class="view-all-user" href="">View all…</a>');
				}
			});

			$("body").on("click", "a.view-all-user", function(){
				$(this).prev("ul.user-list").removeClass("limited");
				$(this).hide();
				return false;
			});

		}

		function vote(link) {
			link.addClass("disabled");
			link.text(link.text() + "d");
			updateCount(link, +1);

			$.ajax({
				type: 'GET',
				url: link.attr("href"),
				error: function(jqXHR, textStatus, errorThrown){
					cancelVote(link);
				}
			});
		}

		function cancelVote(link) {
			link.removeClass("disabled");
			link.text(link.text().substr(0, link.text().length - 1)); // remove "d" at the end
			updateCount(link, -1);
		}

		function updateCount(link, delta) {
			count = link.next(".count");
			count.text(parseInt(count.text()) + delta);
		}
		</script>
	</body>
</html>